.abm-card .table-dark th,
.abm-card .table-dark td {
  color: #ffffff !important;
}

.abm-card .table-dark th {
  background-color: black;
}


.table-responsive {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.2) transparent;
}

.table-responsive::-webkit-scrollbar {
  height: 6px;
}

.table-responsive::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
}