.main-wrapper {
  flex: 1;
  min-height: 100vh;
  background-image:
    linear-gradient(rgba(15, 23, 42, 0.50),
      rgba(15, 23, 42, 0.50)),
    url("../assets/img/fonts/fondoEstadioDesktop.png");

  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
}
