.btn-reset {
  background: none !important;
  border: none !important;
  padding: 0 !important;
  margin: 0 !important;
  font: inherit !important;
  color: inherit !important;
  cursor: pointer !important;
}

#autoGiro {
  background-color: #4e5256;
}

#girarBtn {
  margin-top: 20px;
  margin-right: 10px;
}

main .ruleta-container .ruleta {
  position: relative;
  z-index: 3;
  width: 280px;
  display: block;
  transform-origin: 50% 50%;
  margin-top: -45px;
  margin-bottom: 40px;
}

.btn-custom {
  background-color: #d5006d !important;
}

main .btn {
  font-weight: bold !important;
  border: none !important;
  padding: 10px 20px !important;
}

#sinGiros button {
  font-weight: bold !important;
  text-decoration: none;
}

#sinGiros button:hover {
  color: #d5006d !important;
}

main button:focus {
  box-shadow: none !important;
}

main .btn-custom:hover,
main .btn-dark-custom:hover {
  transform: scale(1.05) !important;
}

main .btn-custom:active,
main .btn-dark-custom:active {
  transform: scale(0.98) !important;
}

.premios-circle-wrapper {
  width: 270px;
  height: 270px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  pointer-events: none;
}

.premios-circle {
  width: 100%;
  height: 100%;
  position: relative;
  bottom: 2%;
  right: 0;
  transition: transform 3s cubic-bezier(0.25, 0.8, 0.25, 1);
  will-change: transform;
  transform: rotate(20deg);
}

.premios-circle .premio {
  position: absolute;
  top: 40%;
  left: 50%;
  transform-origin: 0 30px;
}

.premios-circle .premio:nth-child(1) {
  transform: rotate(175deg) translateY(-80px);
}

.premios-circle .premio:nth-child(2) {
  transform: rotate(50deg) translateY(-90px);
}

.premios-circle .premio:nth-child(3) {
  transform: rotate(90deg) translateY(-90px);
}

.premios-circle .premio:nth-child(4) {
  transform: rotate(130deg) translateY(-90px);
}

.premios-circle .premio:nth-child(5) {
  transform: rotate(-3deg) translateY(-90px);
}

.premios-circle .premio:nth-child(6) {
  transform: rotate(225deg) translateY(-90px);
}

.premios-circle .premio:nth-child(7) {
  transform: rotate(270deg) translateY(-90px);
}

.premios-circle .premio:nth-child(8) {
  transform: rotate(300deg) translateY(-90px);
}

main button {
  background-color: #2c3e50;
  border: 1.5px solid black;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
}

main button:hover {
  transform: scale(1.06);
}

.ruleta-base {
  position: absolute;
  left: 50%;
  bottom: 0%;
  top: 90%;
  transform: translateX(-50%);
  z-index: 1;
  width: 320px;
}

.triangulo-ruleta {
  position: absolute;
  z-index: 4;
  top: 20%;
  left: 60%;
}

.ruleta {
  transform: rotate(20deg);
  transition: transform 3s cubic-bezier(0.25, 0.8, 0.25, 1);
  will-change: transform;
}

.premio-popup {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}

.premio-popup img {
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.6));
}

.premio-ganado {
  width: 120px;
}

@media (max-width: 360px) {
  .d-flex.flex-column>div {
    display: flex;
    gap: 0.5rem;
  }

  .d-flex.flex-column>div>button {
    flex: 1;
    margin-top: 0;
  }

  .d-flex .flex-column {
    position: absolute;
    margin-top: 80%;
  }

  main .ruleta-container {
    position: relative;
    left: 0%;
  }

  .contenedorPrincipal {
    margin-right: 20%;
    margin-bottom: 31%;
  }

  .align-items-stretch {
    padding-top: 12%;
    margin-right: 15%;
  }

  .botonPrincipal {
    position: relative;
    top: 100px;
  }

  #sinGiros {
    position: relative;
    top: 90px;
  }

  .premio-popup {
    top: 40%;
    left: 50%;
  }
}